@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  --blueo: rgba(61, 88, 133, 1);
}

.blueo {
  color: rgba(
    61,
    88,
    133,
    1
  ); /*Trocar o H1 direto não funciona, precisa ser criado uma classe de cor*/
}

.vw1-2 {
  font-size: 1.2vw;
}

.agredecimento {
  padding-left: 33%;
  padding-right: 33%;
  color: var(--blueo);
  font-weight: 700;
}

.card-blueo {
  border: 2px solid var(--blueo);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.linha {
  margin-top: 1%;
  margin-bottom: 3%;
  border-top: 1px solid rgb(0, 0, 0);
  width: 80%;
}

.alinhar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caminhao {
  max-width: 20%;
  height: auto;
  margin-top: -13%;
}

.vinteporcento {
  max-width: 20%;
  height: auto;
  margin-top: -18%;
  margin-bottom: 6%;
}

.nike {
    max-width: 100%;
    height: 100%;
    margin-left: -75%;
    margin-bottom: -50%;

}

.icone {
    display: block;
    width: 50%;
    margin-left: -45%;
}

.nav-img {
    height: 4%;
    width: 4%;
}

.margem {
    margin-top: 50px;
}

header {
  background-color: black;
}

h1 {
  font-weight: 700;
}

strong {
  color: #000000;
}

.textobonito {
    font-family: "Montserrat", sans-serif;
    color: var(--blueo);
    font-weight: 800;
    font-size: 1.1vw;
}



.social-box {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.instagram-box {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(255, 60, 119); /* cor do Instagram */
    background-repeat: no-repeat;
    background-position: center;

}
