body, html{
    margin: 0;
}


.imagem {
    max-width: 100px;  
    display: flex;
 
    
    }


    .imagem img {

width: 200px;
height: 200px;

    }

    .fav {

        border: 2px solid rgba(61, 88, 133, 1);
        border-radius: 10px;
max-width: 500px;
height: 180px;



    }

    hr {

border: 2px solid rgba(61, 88, 133, 1);
max-width: 270px;

    }

    .info h2 {

width: 300px;
font-size: 19px;

    }

   .info h3 {

font-size: 18px;

   }

   .espec {

display: flex;


   }

   .espec2 {

display: flex;


   }


   .container-fav{

margin-left: 200px;
width: 500px;




   }

   .info p {

font-size: 14px;

   }

   .pag {

justify-content: center;
    border: 2px solid rgba(61, 88, 133, 1);
max-width: 350px;
border-radius: 10px;
text-align: center; justify-content: center; align-items: center;
   }

   .pag hr {

display: flex;
text-align: center;
margin-left: 50px;
width: 250px;
border: 2px ;

   }

.pag p{


   font-size: 18px;
   font-weight: 400;

}


   .val {

display: flex;
justify-content: center;
text-align: center;

   }

   .val2 {

    display: flex;
    justify-content: center;
    text-align: center; 

   }

   .val3{

    display: flex;
    justify-content: center;
    text-align: center; 

   }



   .container-geral {
      display: flex;
      justify-content: space-between; /* Isso alinha os contêineres dos produtos e da área de compra nos extremos da tela */
      padding: 20px; /* Adicione um espaçamento para evitar que os elementos fiquem muito próximos das bordas */
  }



   .container-faccompra{

margin-right: 100px;

   }